<div class="jumbotron">
    <h1>A new type of gaming marketplace.</h1>
    <p class="lead">ProSwap is a new kind of gaming marketplace. We use state of the art identity verification to create a 
    safe, secure, and instant experience. Sellers get paid instantly and have access to the transacation data, providing them 
    with tangible proof to fight against fraudulant chargebacks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Buyer Benefits</h2>
        <p>Because ProSwap has a flat fee per transaction, our fees are much lower than our competition. Since sellers pay us
        a lower transaction fee and get paid instantly, they can offer lower prices on Pro Swap to match what they are earning
        after fees on other marketplaces. This allows them to offer better prices on our marketplace to make the same or more 
        on other marketplaces.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buyer Protection</h2>
        <p>As the buyer, you are always able to use a legitimate chargeback in the event of a bad transaction. Pro Swap will 
        always support you in this event. It's best to first escalate this issue with us so we can give the seller a chance to
        respond. If they don't respond, we'll provide additional information for you to provide to your bank about the charge
        back.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unmatched Selling Platform</h2>
        <p>Our platform allows sellers the ability to easily create, track, update, and delete Offers. Sellers can also track, 
        update, and close orders. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
